* {
  box-sizing: border-box;
}

body {
  background: rgb(116,4,195);
  background: linear-gradient(90deg, rgba(116,4,195,1) 16%, rgba(163,58,219,1) 47%, rgba(88,214,240,1) 93%);
  height: 100vb;
}

main {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
  background-color: #fff;
  margin: auto;
  padding: 5rem 0;
}

.main-title {
  text-align: center;
  margin-top: 5%;
}

.score-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.show-score {
  width: 40%;
}

.score-table {
  border-collapse: collapse;
  width: 100%;
}

.score-table tr:nth-child(even) {
  background-color: rgb(211, 211, 211);
}

.score-table-rows td {
  padding: 0 15px;
}

.add-score {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.add-score-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.show-error {
  width: 70%;
  color: #f00;
}

.submit-score {
  width: 50%;
  align-self: flex-end;
}
